@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");
@import url("https://fonts.google.com/specimen/Lexend+Deca");


:root{
    --FondoCol1: hsl(31, 77%, 52%) ;
    --FondoCol2: hsl(184, 100%, 22%);
    --FondoCol3: hsl(179, 100%, 13%);
}


.Contenedor-Columnas{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-left: 200px;
    margin-right: 180px;
}

.col{
    height: 450px;
    width: 100%;

}
.col-1{
    background-color: var(--FondoCol1) ;
    border-radius: 10px 0px 0px 10px ;
}
.col-2{
    background-color: var(--FondoCol2) ;
}
.col-3{
    background-color: var(--FondoCol3) ;
    border-radius: 0px 10px 10px 0px ;
}

.Contenidos-Col{
    margin: 70px;

}
.Contenidos-Col-ContenedorBoton{
    margin-top: 90px;
}
.Contenidos-Col-ContenedorBotonCol_Boton{
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
}
.BTN1{
    color: var(--FondoCol1);
}
.BTN2{
    color: var(--FondoCol2);
}
.BTN3{
    color: var(--FondoCol3);
}
.Contenidos-Col-ContenedorBotonCol_Boton:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.Contenidos-Col-ContenedorTitulo_Parrafo{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.Contenidos-Col-ContenedorTitulo_Titulo{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Big Shoulders Display";
    font-weight: 700;
}


.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    text-align: center;
}
.attribution a {
    text-decoration: none;
    font-weight: bold;
    color:hsl(31, 77%, 52%)
}
